@import "constants.module.scss";

.partners {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0.25rem;
}

.searchBar {
  width: 450px;
  margin: 0.25rem;
  min-width: 0;
}

.content {
  flex: 1;
  min-height: 0;
  padding: 1rem;
  overflow: auto;
}

.list {
  flex: none;
  display: grid;
  align-items: flex-start;

  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  @media (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}

.partnerCard {
  flex: none;
  display: flex;
  min-height: 12rem;
}

.partner {
  flex: 1;
  margin: 1px;
}

.actions {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0.25rem;
}
